---
import Image from "astro/components/Image.astro";

import { formatDate, slugify } from "@scripts/utils";

const {
  category = "tech",
  title,
  author = "xaaha",
  date,
  image,
} = Astro.props as Frontmatter;
---

<header>
  <div class="container">
    <small>
      <a href={`/category/${slugify(category)}`} class="badge">{category}</a>
    </small>
    <h1 class="h2">{title}</h1>
    <p>
      by <a href={`/author/${slugify(author)}`}>{author}</a>
      {formatDate(date)}
    </p>
  </div>
  <Image
    src={image?.src ?? "from author"}
    alt={image?.alt ?? "blog post image"}
    width="1200"
    height="600"
    format="avif"
    fit="cover"
    quality={80}
    aspectRatio="5:2"
    class="hero-image"
  />
</header>
