---
import Mainlayout from "@layouts/Mainlayout.astro";
import PostHeader from "@components/PostHeader.astro";
import PostFooter from "@components/PostFooter.astro";

const { frontmatter } = Astro.props;
const { category, date, description, image, title } =
  frontmatter as Frontmatter;
---

<Mainlayout {title} {description}>
  <PostHeader {title} {date} {category} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
  <PostFooter {category} />
</Mainlayout>

<style>
  :global(table) {
    border-collapse: collapse;
    width: 100%; /* take up full width of its container */
    margin-block: 1.5em; /* space above and below the table */
  }

  :global(table caption) {
    font-size: 1.2em;
    font-weight: bold;
    margin-block-end: 1em;
  }

  :global(table td),
  :global(table th) {
    border: 1px solid hsl(var(--txt) / 0.25);
    padding: 0.5em 1em;
    text-align: left;
  }

  :global(table th) {
    background-color: hsl(var(--muted) / 0.5);
  }
</style>
