---
import Mainlayout from "@layouts/Mainlayout.astro";
import PostHeader from "@components/PostHeader.astro";
import PostFooter from "@components/PostFooter.astro";

const { frontmatter } = Astro.props;
const { category, date, description, image, title } =
  frontmatter as Frontmatter;
---

<Mainlayout {title} {description}>
  <PostHeader {title} {date} {category} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
  <PostFooter {category} />
</Mainlayout>
